body .ui-tooltip {
  border-width: 2px;
}

body {
  background: hsla(0, 0%, 89.8%, 0.47058823529411764);
}

h3 {
  font-size: 1.325em;
  font-weight: 600;
}

header {
  padding: 30px 0;
  border-bottom: 20px solid #336262;
  background: #1c1818;
}

@media all and (max-width: 960px) {
  header {
    padding: 5px 0;
  }
}

.uk-navbar-nav > li.uk-active > a {
  color: #ddd;
}

.logo img {
  max-width: 80px;
}

.logo {
  font-size: 2em;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.logo_slogan {
  display: block;
  font-size: 0.425em;
}

.header_phone {
  color: #fff;
  font-size: 1.625em;
  text-decoration: none;
}

.header_phone:hover {
  text-decoration: none;
  color: #fff;
}

.header_phone__title {
  display: block;
  font-size: 0.825em;
  color: #999;
}

.uk-navbar-nav > li.uk-active > a {
  color: #f7f6f6;
}

.uk-nav-primary > li.uk-active > a {
  color: #e1e1e1;
}

.slider {
  height: 460px;
}

.slider_text {
  padding-right: 60px;
}

.slider_wrapper {
  background: url(../images/slider_bg.jpg);
  background-repeat: repeat;
  background-size: auto;
  margin-bottom: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 960px) {
  .slider {
    height: 360px;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .slider .uk-slideshow-items {
    min-height: 100% !important;
  }

  .slider_text {
    padding-right: 20px;
  }
}

.slider h2 {
  color: #699797;
  font-weight: 600;
  font-size: 2.525em;
  line-height: 1;
}

.slider p {
  color: #000;
}

.slider_button {
  background: #336262;
  margin-top: 20px;
  font-size: 1.025em;
}

.slider_button:hover {
  background: #979797;
}

@media all and (max-width: 960px) {
  .slider h2 {
    font-size: 1.525em;
    margin-bottom: 10px;
  }

  .slider p {
    margin: 0;
  }
}

.main_page-h1 {
  font-size: 1.825em;
  font-weight: 600;
  margin: 0 0 30px !important;
}

h1 {
  font-size: 2.525em;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog_list {
  margin-bottom: 30px;
}

.catalog_list_item {
  padding: 20px 0;
}

.catalog_list_items > div {
  margin-bottom: 20px;
}

.catalog_list_item-img {
  margin-bottom: 10px;
}

.catalog_list_item-title a {
  font-size: 1.125em;
  color: #000;
  font-weight: 600;
}

.catalog_list_item-button {
  margin-top: 20px;
}

.icon_line {
  width: 100%;
  height: 36px;
  background-image: url(../images/icon_line.png);
  background-size: contain;
  background-repeat: repeat-x;
}

.category_list {
  margin: 50px 0;
}

.category_list_items > div {
  margin-bottom: 30px;
}

.category_list_item {
  position: relative;
}

.category_list_item > a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.category_list_item > a:hover {
  background: #000;
  transition-duration: 0.4s;
}

.category_list_item > a:hover img {
  opacity: 0.7;
  transition-duration: 0.4s;
}

.category_list_item-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  font-size: 1.725em;
}

@media all and (max-width: 960px) {
  .category_list_item-title {
    font-size: 1.425em;
  }
}

.category_list_item {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.category_list_item img {
  border-radius: 15px;
}

.about_wrapper {
  margin: 40px 0 60px;
}

.about img {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.about_text {
  padding: 20px;
}

@media all and (min-width: 960px) {
  .about img {
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .about {
    background: #fff;
    border-radius: 10px;
  }
}

@media all and (max-width: 960px) {
  .about_text {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fff;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .about_img {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}

.catalog_item {
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px !important;
}

.catalog_item__images img {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.catalog_item__name {
  margin-bottom: 10px;
  line-height: 1.2;
}

.catalog_item__name a {
  color: #333;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.025em;
}

.catalog_item__name a:hover {
  color: #0f6ecd;
  text-decoration: none;
}

.catalog_item__details {
  padding: 20px;
}

@media all and (max-width: 640px) {
  .catalog_item__details {
    padding: 20px 12px;
  }

  .catalog_item__offer-pricelist {
    margin-bottom: 5px;
  }
}

.catalog_item__offer-price strong {
  font-size: 1.525em;
  color: #333;
}

.catalog_item__offer-actionbar input {
  text-align: center;
}

.catalog_item__offer-minus {
  background: #f1f1f1;
  border: 0;
  width: 25px;
  height: 32px;
  cursor: pointer;
}

.catalog_item__offer-plus {
  background: #f1f1f1;
  border: 0;
  width: 25px;
  height: 32px;
  cursor: pointer;
}

.catalog_item__offer-input {
  height: 31px;
  margin-top: -3px;
  border: 1px solid #f1f1f1;
  font-size: 0.875em;
  text-align: center;
}

.catalog_item_offer-oneclick input {
  background: #f1f1f1;
  border: 0;
  padding: 4px 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 320px;
}

.catalog_item_offer-oneclick input:focus {
  background: #f1f1f1;
}

.catalog_item__offer-buttons {
  margin-top: 20px;
}

.catalog_item_offer_msg {
  margin-top: 10px;
  font-size: 0.875em;
}

.catalog_item__offer-button_cart {
  padding: 2px 20px;
  margin-right: 10px;
  background: #336262;
  color: #fff;
  border: 0;
}

.catalog_item_offer-oneclick .catalog_item__offer-button_cart {
  width: 100%;
  max-width: 180px;
}

@media all and (max-width: 640px) {
  .catalog_item__offer-button_cart {
    width: 100%;
  }
}

.catalog_item__offer-button_cart:hover {
  background: #979797;
}

.catalog_item__offer-button_oneclick {
  text-transform: none;
  color: #1e87f0;
  border-bottom: 1px dotted #1e87f0;
}

@media all and (max-width: 960px) {
  .catalog_item__offer-button_oneclick {
    margin-top: 10px;
  }
}

.catalog_id__offer-button_cart {
  width: 100%;
  height: 50px;
}

.catalog_item__offer-button_oneclick:hover {
  border-bottom: 1px dotted #fff;
}

.uk-modal-body {
  border-radius: 10px;
}

.catalog_item__images {
  position: relative;
}

.catalog_item__labels {
  position: absolute;
  top: 55px;
  left: 0;
}

footer {
  padding: 40px 0;
  background: #ddd;
  font-size: 0.875em;
}

.footer_mobile_contacts {
  margin-bottom: 20px;
}

.footer_phone {
  color: #4a4848;
  display: block;
  font-size: 1.525em;
  text-decoration: none;
}

.footer_phone svg {
  margin-top: -4px;
}

.footer_phone:hover {
  text-decoration: none;
}

.footer_email {
  display: block;
  color: #353535;
  font-size: 1.225em;
  text-decoration: none;
}

.footer_email:hover {
  text-decoration: none;
}

.privacy_link {
  margin: 10px 0;
}

.footer__devs {
  margin-top: 15px;
}
